* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif; /* aquí está el estilo del body */
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;                        /* aquí están los estilos de las grid en general */
    height: 100%;
    margin: auto;
    grid-row-gap: 10px;
    overflow: hidden;
    align-items: center;
}

header {
    background: linear-gradient(180deg, #000 65%, #fff 35%); /* este es el estilo del header */
}

.logo {
    width: 100px; /* este es el estilo del logo */
    margin: 60px;
}

/* aqui comienza la duración de las animaciones */
.animate__animated.animate__fadeIn {
    --animate-duration: 4s;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 4s;
}

.animate__animated.animate__fadeInUp {
    --animate-duration: 4s;
}

.animate__animated.animate__zoomInUp {
    --animate-duration: 2s;
}

.animate__animated.animate__rotateIn {
    --animate-duration: 3s;
}
/* aqui termina la duración de las animaciones */

.tittle-logo { 
    align-self: center;
    padding-left: 30px;  /* este es el estilo del nombre de la página */
    color: white;
    font-size: 65px;
    text-decoration: none;
}

.header {
    height: 500px;   /* este es el estilo del header */
}

.header__lista {
    display: flex; 
    list-style: none;           /* este es el estilo de la lista de navegación */
    padding: 0 60px;
    margin-top: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;            /* este es el flex de la navegación */
    justify-content: flex-end;
}


.header__item {
    padding: 20px; 
    color: white;        /* este es el estilo de los items de la navegación */
    text-decoration: none;
}

.subtile-contact {
    font-weight: 400;
    margin-left: 5px;
}

.paragraph {
    margin-bottom: 20px;  /* este es el estilo de los párrafos */
}

.img-index {
    width: 100%;
    height: auto;         /* este es el estilo de la imagen del index */
    grid-column: 7/13;
    padding-bottom: 150px;
}

.img {
    width: 95%;
    max-width: 500px;
}

.text-index {
    font-weight: 600;
}                           /* este es el estilo del texto de index */

.subtitle-index {
    font-weight: 400; 
}

.texts-index {
    grid-column: 1/7;
    padding-right: 20px;     /* este es el estilo de los textos del index */
    padding-bottom: 150px;
}

.texts-contact p {
    text-align: justify;
}

.text-contact {
    font-weight: 600px;
}


.cta {
    width: 130px;
    background-color: black;  
    color: white;
    display: inline-block;      /* este es el estilo del botón del index */
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 25px;
}

.tittle-services {
    margin: 20px 0; /* este es el estilo de las tarjetas */
}

.services {
    height: 370px;  /* este es el estilo de las tarjetas */
    background: linear-gradient(180deg, #fff 50%, #000 50%);
}

.items {
    grid-column: 1/-1;
    display: flex;
    width: 100%;                    /* este es el estilo de los íconos del footer */
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    width: 45%;
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); /* este es el estilo de los íconos del footer */
    overflow: hidden;
    height: 220px;
    padding: 20px 10px;
    text-align: center;
}

[class^="fa-solid"] {
    font-size: 50px; /* este es el estilo de los íconos del footer */
    text-align: center;
}

.about-us2 {
    padding-top: 150px; /* este es el estilo de la sección sobre nosotros */
}

.subtitle2 {
    color: black;
    font-size: 55px;
}

.text-about-us {
    display: flex;
    flex-wrap: wrap;
    text-align: center;  /* este es el estilo de los textos de la sección sobre nosotros */
    justify-content: center;
    font-size: 25px;
}

.paragraph {
    margin-top: 15px;
    color: rgb(151, 151, 151);
    font-size: 20px;
}

.about-us {
    background-color: #000;
    color: white;           /* este es el estilo del main sobre nosotros */
    height: auto;
    padding: 60px 0;
}

.about {
    padding: 80px 0;
}

.texts-about {
    grid-column: 7/13;       /* este es el estilo las tarjetas sobre nosotros */
    grid-row: 1/-1;
    margin-bottom: 20px;
}

.img-about {
    grid-column: 1/7;      /* este es el estilo de la imagen sobre nosotros */
    grid-row: 1/-1;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;          /* este es el estilo del footer */
    padding: 60px 0;
}

.text-footer {
    grid-column: 1/-1;
    margin-bottom: 50px; /* este es el estilo del texto del footer */
    font-size: 35px;
}

[class^="footer-item"] a {
    color: white;          /* este es el estilo de las imagenes de las redes del footer */
    font-size: 30px;
}

[class^="footer-item"] {
    grid-column: span 3;  /* este es el estilo las grid de las images del footer*/
}

.store {
    background-color:#fff;  /* este es el estilo del inici de la tienda */
    padding: 20px;
    width: 100%;
}

.store__shop {
    text-align: center;
    font-size: 50px;        /* este es el estilo del título de la tienda */
    margin-top: 170px;
}

.store__art {
    display: flex;
    flex-wrap: wrap; /* <!-- Aqui se encuentra el estilo del contenedo de la imagen --> */
    justify-content: center;
    margin-bottom: 30px;
}

.store__shoes {
    border: 3px solid #006eff;
    border-radius: 50px; /* <!-- Aqui se encuentra el estilo de la imagen --> */
    padding: 5px;
    width: 400px;
}

.store__prices {
    display: flex;
    flex-wrap: wrap; /* <!-- Aqui esta el estilo del contenedor del selector de colores --> */
    justify-content: center;
    padding: 10px;
}

.store__colorselector {
    background-color: #e9e9e9; /* <!-- Este es el estilo del selector de colores --> */
    padding: 5px;
    margin-top: 30px;
    margin-right: 40px;
    border: 3px solid #006eff;
    border-radius: 50px;
}

.store__price {
    background-color: #e9e9e9;  /* <!-- Este es el estilo del botón de compra --> */
    margin-top: 32px;
    padding: 5px;
    border: 3px solid #006eff;
    border-radius: 50px;
}

.store__price:hover { /* <!-- Este es el hover para el botón de compra --> */
    cursor: pointer;
}

form {
    width: 500px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;       /* este es el estilo del formulario */
    margin-top: 20px;
    background-color: #006eff05;
}

.mainindex__formtitle {
    font-size: 50px;     /* este es el estilo del título del formulario */
    padding: 5px;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;            /* este es el estilo del área para colocar los datos */
    box-sizing: border-box;
    font-size: 15px;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    box-sizing: border-box;     /* este es el estilo del área para escribir el mensaje */
    font-size: 15px;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

.mainindex__button {
    background-color: #006eff79; /* este es el estilo del botón del formulario */
    color: #fff;
}

.mainindex__button:hover {
    cursor: pointer;        /* este es el hover del botón del formulario */
}

/* aquí comienzan la ubicación en las grid de las imagenes de la galería */

.imagen1 {
    grid-column: 1/2;
}

.imagen2 {
    grid-column: 2/3;
}

.imagen3 {
    grid-column: 1/2;
    grid-row: 1/-1;
}

.imagen4 {
    grid-column: 2/3;
    grid-row: 1/-1;
}

.imagen5 {
    grid-column: 3/4;
}

.imagen6 {
    grid-column: 3/4;
    grid-row: 1/-1;
}

.imagen7 {
    grid-column: 4/5;
}

.imagen8 {
    grid-column: 4/5;
    grid-row: 1/-1;
}

.galery-img {
    width: 250px;  /* este es el estílo de las imagenes*/
    margin: 10px;
    border: 5px solid #006eff79;
    margin-bottom: 60px;
}

.text-galery {
    text-align: center;  /* este es el estílo del texto de la galería*/
    font-size: 50px;
    margin-top: 170px;
}

/* Mediaquery Tablet */

@media (min-width: 576px) and (max-width: 992px) {
    .header{
        height: 400px; /* este es la reorganización del header */
    }
    .logo {
        width: 70px; /* este es la reorganización del logo */
        margin-top: 20px;
    }
    .tittle-logo {
        font-size: 45px; /* este es la reorganización del título de la página */
        padding: 0px 20px;
    }
    .header__lista {
        padding: 0 30px;  /* este es la reorganización de la navegación */
        margin-top: 10px;
        margin-right: 10px;
    }
    .grid {
        gap: 30px; /* este es la reorganización de las grid */
    }
    .img-index, .texts-index {
        grid-column: 1/-1;  /* este es la reorganización de la imagen y el texto del index */
    }
    .img-index {
        text-align: center; 
    }
    .texts-index {
        margin-top: 40px;
    }
    .services {
        height: auto; /* este es la reorganización de las tarjetas */
        margin-top: 40px;
    }
    .item {
        width: 60%;
        margin: 40px 0;
        height: auto;  /* este es la reorganización del contenido dentro de las tarjetas */
        padding: 40px;
    }
    .img-about {
        grid-column: 1/-1;
        grid-row: 2/3;    /* este es la reorganización de la imagen sobre nosotros */
        text-align: center;
    }
    .texts-about {
        grid-column: 1/-1;
        grid-row: 1/2;     /* este es la reorganización del texto sobre nosotros */
        align-self: center;
    }
    .about-us2 {
        padding-top: 40px;
    }
    .store__shop {
        margin-top: 90px;    /* este es la reorganización del título de la tienda */
    }
    .text-galery {
        margin-top: 90px;
    }

/* aquí comienza la reorganización de las grid de la galería */

    .imagen1 {
        grid-column: 1/2;
    }
    
    .imagen2 {
        grid-column: 2/3;
    }
    
    .imagen3 {
        grid-column: 1/2;
        grid-row: 1/-1;
    }
    
    .imagen4 {
        grid-column: 2/3;
        grid-row: -2/-3;
    }
    
    .imagen5 {
        grid-column: 2/3;
        grid-row: 2/-1;
    }
    
    .imagen6 {
        grid-column: 1/2;
        grid-row: 1/-2;
    }
    
    .imagen7 {
        grid-column: 1/2;;
    }
    
    .imagen8 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    [class^="imagen"] {
        margin-left: 30px; /* este es la reorganización de las imágenes de la galería */
    }
    .img-contact, .texts-contact {
        grid-column: 1/-1; /* este es la reorganización de la imagen y el texto de contacto */
    }
    .img-contact {
        text-align: center;
    }
}

/* Mediaquery Celular */

@media (min-width: 320px) and (max-width: 575px) {
    .logo {
        margin: 20px; /* este es la reorganización del logo */
        width: 50px;
    }
    .tittle-logo {
        padding-left: 10px; /* este es la reorganización del título de la página */
        font-size: 35px;
    }
    .img {
        max-width: 170px; /* este es la reorganización de las imágenes */
    }
    .header__lista {
        padding: 0 10px;
        margin-top: 10px; /* este es la reorganización de la lista de la navegación */
        margin-right: 10px;
    }
    .item {
        width: 100%;
        margin: 5px 30px; /* este es la reorganización de las tarjetas */
        height: auto;
        padding: 0px;
    }
    .img-index, .texts-index {
        grid-column: 1/-1; /* este es la reorganización del texto y la imagen del index */
    }
    .img-index {
        text-align: center; /* este es la reorganización de la imagen del index */
    }
    .texts-about {
        margin: 15px; /* este es la reorganización del texto sobre nosotros */
    }
    [class^="footer-item"] { 
        grid-column: 1/-1; /* este es la reorganización de las imagenes de las redes del footer */
    }
    .store__shop {
        margin-top: 130px;  /* este es la reorganización del título de la tienda */
        font-size: 40px;
    }
    .about-us2 {
        padding-top: 125px; /* este es la reorganización del título sobre nosotros */
    }
    .subtitle2 {
        font-size: 40px;
    }
    form {
        width: 300px; /* este es la reorganización del formulario */
    }
    iframe {
        width: 300px; /* este es la reorganización del Google Maps */
    }
    .text-galery {
        margin-top: 120px; /* este es la reorganización del texto de la galería */
        font-size: 40px;
    }
    [class^="imagen"] {
        grid-column: 2/-2; /* este es la reorganización de las grid de las imagenes de la galería */
    }
    .img-contact, .texts-contact {
        grid-column: 1/-1; /* este es la reorganización de las grid de la imagen y el texto del contacto */
    }
    .img-contact {
        text-align: center; /* este es la reorganización de la imagen del contacto */
    }
}