@charset "UTF-8";
/* Este es el SASS del index */
/* Estilos de la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  /* aquí está el estilo del body */ }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  max-width: 1100px;
  /* aquí están los estilos de las grid en general */
  height: 100%;
  margin: auto;
  grid-row-gap: 10px;
  overflow: hidden;
  align-items: center; }

/* Colores */
/* Imagenes */
.img {
  width: 95%;
  max-width: 500px; }

/* Tarjetas index/contacto */
.fa-solid {
  font-size: 50px;
  text-align: center; }

.index {
  /* este es el estilo del texto de index */ }
  .index__texts {
    grid-column: 1/7;
    padding-right: 20px;
    /* este es el estilo de los textos del index */
    padding-bottom: 150px; }
  .index__text {
    font-weight: 600; }
  .index__subtitle {
    font-weight: 400; }
  .index__carou {
    width: 100%;
    /* este es el estilo del carrusel del index */
    height: auto;
    grid-column: 7/12;
    margin-bottom: 100px; }
  .index__paragraph {
    margin-bottom: 20px; }
  .index__button {
    width: 130px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    /* este es el estilo del botón del index */
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 25px;
    margin-bottom: 100px; }
    .index__button:hover {
      color: #fff; }
  .index__services {
    height: 370px;
    /* este es el estilo de las tarjetas */
    background: linear-gradient(180deg, #fff 50%, #000 50%); }
  .index__tittle-services {
    margin: 20px 0;
    /* este es el estilo de las tarjetas */ }
  .index__services-items {
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    /* este es el estilo de los iconos de las tarjetas */
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
  .index__services-item {
    width: 45%;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    /* este es el estilo de las tarjetas */
    overflow: hidden;
    height: 220px;
    padding: 20px 10px;
    text-align: center; }
  .index__fa-solid {
    font-size: 50px;
    /* este es el estilo de los íconos de las tarjetas */
    text-align: center; }

/* Aqui comienza SASS header */
.navbar {
  position: static; }
  .navbar-toggler {
    margin-right: 30px;
    /* este es el estilo del botón de la navegación */ }
  .navbar-toggler-icon {
    padding: 20px; }

.bg-dark {
  background: linear-gradient(180deg, #000 99%, #fff 1%);
  /* este es el estilo del header */ }

.offcanvas {
  background: linear-gradient(180deg, #000 99%, #fff 1%);
  /* este es el estilo del fondo de la navegación desplegable */ }

.d-flex {
  width: 350px;
  /* este es el estilo del placeholder de la navegación desplegable */
  border-radius: 15px; }

.form-control {
  margin-top: 15px;
  /* este es el estilo de la barra de busqueda de la nav desplegable */ }

.btn-success {
  background-color: #000;
  /* este es el estilo del botón de la navegación desplegable */
  border-color: white; }
  .btn-success-success:hover {
    background-color: white;
    /* este es el estilo del hover del botón de la navegación desplegable */ }

.btn:hover {
  color: black;
  /* este es el estilo del hover del botón de la navegación desplegable */ }

.logo {
  width: 100px;
  /* este es el estilo del logo */
  margin: 10px; }

.offcanvas-title {
  margin-top: 10px;
  font-weight: 900;
  /* este es el estilo del título de la navegación desplegable */
  font-size: 30px; }

.nav-link {
  font-weight: 500;
  /* este es el estilo de los link de la navegación desplegable */
  font-size: 20px; }

.header {
  height: 400px;
  /* este es el estilo del header */ }

.tittle-logo {
  align-self: left;
  color: white;
  /* este es el estilo del nombre de la página */
  font-size: 45px;
  text-decoration: none; }

.tittle-logo:hover {
  color: white; }

/* Estilos de la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  /* aquí está el estilo del body */ }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  max-width: 1100px;
  /* aquí están los estilos de las grid en general */
  height: 100%;
  margin: auto;
  grid-row-gap: 10px;
  overflow: hidden;
  align-items: center; }

/* Colores */
/* Imagenes */
.img {
  width: 95%;
  max-width: 500px; }

/* Tarjetas index/contacto */
.fa-solid {
  font-size: 50px;
  text-align: center; }

/* Aqui comienza SASS sobre nosotros */
.about-us2 {
  padding-top: 80px;
  /* este es el estilo de la sección sobre nosotros */ }
  .about-us2_subtitle2 {
    color: #000;
    font-size: 55px; }
  .about-us2_text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* este es el estilo de los textos de la sección sobre nosotros */
    justify-content: center;
    font-size: 25px; }

.about-us {
  background-color: #000;
  color: #fff;
  /* este es el estilo del main sobre nosotros */
  height: auto;
  padding: 60px 0; }
  .about-us_paragraph {
    margin-top: 15px;
    color: #979797;
    font-size: 20px; }
  .about-us_text {
    margin-left: 15px; }

.about {
  padding: 80px 0; }
  .about_texts {
    grid-column: 7/13;
    /* este es el estilo las tarjetas sobre nosotros */
    grid-row: 1/-1;
    margin-bottom: 20px; }
  .about_text1 {
    font-weight: 700;
    /* este es el estilo del titulo de las tarjetas sobre nosotros */ }
  .about_text2 {
    font-style: italic;
    /* este es el estilo del texto de las tarjetas sobre nosotros */
    font-weight: 500; }
  .about_img {
    grid-column: 1/7;
    /* este es el estilo de la imagen sobre nosotros */
    grid-row: 1/-1; }

/* Aqui comienza SASS tienda */
.store1 {
  margin-top: 100px; }
  .store1__shops {
    margin-bottom: 20px; }
  .store1__shop {
    text-align: center;
    font-size: 50px;
    /* este es el estilo del título de la tienda */
    font-weight: 500; }

.store {
  background-color: #fff;
  /* este es el estilo del main de la tienda */
  padding: 20px;
  width: 100%; }
  .store__carou {
    width: 450px;
    margin-bottom: 30px;
    /* este es el estilo del contenedor de las imagenes de latienda */
    left: -9999px;
    right: -9999px;
    margin: 0 auto;
    position: static; }
  .store__dropdown {
    margin: 50px;
    text-align: center;
    /* este es el estilo del botón desplegable de la tienda */ }
  .store__btn {
    text-decoration: none;
    color: #fff; }
    .store__btn:hover {
      color: #000; }

/* Aqui comienza SASS galería */
.galery {
  text-align: center;
  /* este es el estílo del texto de la galería*/ }
  .galery_texts {
    margin-top: 85px; }
  .galery_text {
    font-size: 50px; }
  .galery_imagen1 {
    grid-column: 1/2; }
  .galery_imagen2 {
    grid-column: 2/3; }
  .galery_imagen3 {
    grid-column: 1/2;
    grid-row: 1/-1; }
  .galery_imagen4 {
    grid-column: 2/3;
    grid-row: 1/-1; }
  .galery_imagen5 {
    grid-column: 3/4; }
  .galery_imagen6 {
    grid-column: 3/4;
    grid-row: 1/-1; }
  .galery_imagen7 {
    grid-column: 4/5; }
  .galery_imagen8 {
    grid-column: 4/5;
    grid-row: 1/-1; }

/* Este es el SASS de contacto */
.contact1 {
  text-align: center; }
  .contact1_texts {
    margin-top: 85px; }
  .contact1_text {
    font-size: 50px; }

.contact__subtitle {
  font-weight: 400;
  margin-left: 5px; }

.contact__paragraph {
  margin-bottom: 20px;
  /* este es el estilo de los párrafos */ }

.contact__texts p {
  text-align: justify; }

.contact__text {
  font-weight: 600px;
  /* este es el estilo del título de contacto */ }

.contact__mainindex {
  width: 500px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  /* este es el estilo del formulario */
  background-color: #006eff05;
  margin-bottom: 150px;
  margin-right: 5px; }

.contact__img {
  margin-bottom: 150px;
  /* este es el estilo del mapa de google maps */
  margin-left: 5px; }

.contact__btn {
  width: 250px;
  /* este es el estilo del botón del formulario de contacto */
  margin-top: 20px; }
  .contact__btn:hover {
    color: #fff; }

.contact__services {
  height: 370px;
  /* este es el estilo de las tarjetas */
  background: linear-gradient(180deg, #fff 50%, #000 50%); }

.contact__tittle-services {
  margin: 20px 0;
  /* este es el estilo de las tarjetas */ }

.contact__services-items {
  grid-column: 1/-1;
  display: flex;
  width: 100%;
  /* este es el estilo de los íconos de las tarjetas */
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }

.contact__services-item {
  width: 45%;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  /* este es el estilo de las tarjetas */
  overflow: hidden;
  height: 220px;
  padding: 20px 10px;
  text-align: center; }

.contact__fa-solid {
  font-size: 50px;
  /* este es el estilo de los íconos de las tarjetas */
  text-align: center; }

/* Aqui comienza SASS compra */
.tittle-logo-compra {
  margin-right: 780px; }

.compra2 {
  padding-top: 80px;
  /* este es el estilo de la sección sobre nosotros */ }
  .compra2_subtitle2 {
    color: #000;
    font-size: 55px; }
  .compra2_text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* este es el estilo de los textos de la sección sobre nosotros */
    justify-content: center;
    font-size: 25px; }

.compra {
  background-color: #000;
  color: #fff;
  /* este es el estilo del main sobre nosotros */
  height: auto;
  padding: 60px 0; }
  .compra_paragraph {
    margin-top: 15px;
    color: #979797;
    font-size: 20px; }
  .compra_text {
    margin-left: 15px; }

.compras {
  padding: 80px 0; }
  .compras__btn {
    grid-column: 6/7;
    width: 250px;
    height: 100px;
    /* este es el estílo del botón de la página de compra*/
    font-weight: 700;
    font-size: 25px;
    background-color: #000; }
    .compras__btn:hover {
      background-color: #fff;
      /* este es el estílo del hover del botón de la página de compra*/
      border: solid 3px #000; }
  .compras__href-btn {
    text-decoration: none;
    /* este es el estílo del link del botón de la página de compra*/
    color: #fff; }
    .compras__href-btn:hover {
      color: #000; }

/* Aqui comienza SASS footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  /* este es el estilo del footer */
  padding: 60px 0; }
  footer .footer-text {
    grid-column: 1/-2;
    margin-bottom: 50px;
    /* este es el estilo del texto del footer */
    font-size: 35px; }
  footer .footer-item a {
    color: white;
    /* este es el estilo de las imagenes de las redes del footer */
    font-size: 30px; }
  footer .footer-item {
    grid-column: span 3;
    /* este es el estilo las grid de las images del footer*/
    margin-bottom: 60px; }

/* SASS de las animaciones */
.animate__animated.animate__fadeIn {
  --animate-duration: 4s; }

.animate__animated.animate__fadeInDown {
  --animate-duration: 4s; }

.animate__animated.animate__fadeInUp {
  --animate-duration: 4s; }

.animate__animated.animate__zoomInUp {
  --animate-duration: 2s; }

.animate__animated.animate__rotateIn {
  --animate-duration: 2s; }

/* SASS Bootstrap */
.w-100 {
  border-radius: 20px;
  /* este es el estilo del carrusel de las imagenes */ }

.card {
  width: 250px;
  border: none;
  padding: 5px;
  margin-bottom: 80px; }

/* Mediaquery Tablet */
@media (min-width: 576px) and (max-width: 992px) {
  .header {
    height: 400px;
    /* este es la reorganización del header */ }
  .tittle-logo-compra {
    margin-right: 315px; }
  .logo {
    width: 70px;
    /* este es la reorganización del logo */
    margin-top: 20px; }
  .tittle-logo {
    font-size: 45px;
    /* este es la reorganización del título de la página */
    padding: 0px 20px; }
  .grid {
    gap: 30px;
    /* este es la reorganización de las grid */ }
  .index__carou, .index__texts {
    grid-column: 1/-1;
    /* este es la reorganización de la imagen y el texto del index */ }
  .index__carou {
    text-align: center;
    /* este es la reorganización del contenedor de las imagenes del index*/ }
  .index__texts {
    margin-top: 40px; }
  .contact__services {
    height: auto;
    /* este es la reorganización de las tarjetas del contact */
    margin-top: 40px; }
  .index__services {
    height: auto;
    /* este es la reorganización de las tarjetas del index */
    margin-top: 40px; }
  .contact__services-item {
    width: 60%;
    margin: 40px 0;
    height: auto;
    /* este es la reorganización del contenido dentro de las tarjetas */
    padding: 40px; }
  .index__services-item {
    width: 60%;
    margin: 40px 0;
    height: auto;
    /* este es la reorganización del contenido dentro de las tarjetas */
    padding: 40px; }
  .about_img {
    grid-column: 1/-1;
    grid-row: 2/3;
    /* este es la reorganización de la imagen sobre nosotros */
    text-align: center; }
  .about_texts {
    grid-column: 1/-1;
    grid-row: 1/2;
    /* este es la reorganización del texto sobre nosotros */
    align-self: center; }
  .about-us2 {
    padding-top: 40px; }
  .store1__shop {
    margin-top: 90px;
    /* este es la reorganización del título de la tienda */ }
  .galery_text {
    margin-top: 90px; }
  .store__carou {
    width: 450px;
    margin-bottom: 30px;
    /* este es la reorganización del contenedor de las imagenes de la tienda */
    left: -9999px;
    right: -9999px;
    margin: 0 auto;
    position: static; }
  .contact__text {
    margin-left: 50px; }
  .contact__paragraph {
    margin-left: 50px;
    /* este es la reorganización del contacto */ }
  .contact__mainindex {
    margin-right: auto; }
  /* aquí comienza la reorganización de las grid de la galería */
  .galery_imagen1 {
    grid-column: 1/2; }
  .galery_imagen2 {
    grid-column: 2/3; }
  .galery_imagen3 {
    grid-column: 1/2;
    grid-row: 1/-1; }
  .galery_imagen4 {
    grid-column: 2/3;
    grid-row: -2/-3; }
  .galery_imagen5 {
    grid-column: 2/3;
    grid-row: 2/-1; }
  .galery_imagen6 {
    grid-column: 1/2;
    grid-row: 1/-2; }
  .galery_imagen7 {
    grid-column: 1/2; }
  .galery_imagen8 {
    grid-column: 2/3;
    grid-row: 2/3; }
  [class^="imagen"] {
    margin-left: 30px;
    /* este es la reorganización de las imágenes de la galería */ }
  .contact__img, .contact__texts {
    grid-column: 1/-1;
    /* este es la reorganización de la imagen y el texto de contacto */ }
  .img-contact {
    text-align: center; } }

/* Mediaquery Celular */
@media (min-width: 320px) and (max-width: 575px) {
  .logo {
    margin: 0px;
    /* este es la reorganización del logo */
    width: 50px; }
  .tittle-logo {
    margin-left: 0px;
    /* este es la reorganización del título de la página */
    font-size: 35px; }
  .tittle-logo-compra {
    margin-left: 40px; }
  .compra {
    margin-top: 100px; }
  .img {
    max-width: 170px;
    /* este es la reorganización de las imágenes */ }
  .contact__services-item {
    width: 100%;
    margin: 5px 30px;
    /* este es la reorganización de las tarjetas */
    height: 200px;
    padding: 0px; }
  .index__services-item {
    width: 100%;
    margin: 5px 30px;
    /* este es la reorganización de las tarjetas */
    height: 200px;
    padding: 0px; }
  .index__carou, .index__texts {
    grid-column: 1/-1;
    /* este es la reorganización del texto y la imagen del index */ }
  .index__carou {
    text-align: center;
    /* este es la reorganización de la imagen del index */ }
  .about-us_text {
    margin: 15px;
    /* este es la reorganización del texto sobre nosotros */ }
  .store1__shop {
    margin-top: 130px;
    /* este es la reorganización del título de la tienda */
    font-size: 40px; }
  .about-us2 {
    padding-top: 125px;
    /* este es la reorganización del título sobre nosotros */ }
  .about-us2_subtitle2 {
    font-size: 40px; }
  .contact__mainindex {
    width: 300px;
    /* este es la reorganización del formulario */ }
  iframe {
    width: 300px;
    /* este es la reorganización del Google Maps */ }
  .galery_text {
    margin-top: 120px;
    /* este es la reorganización del texto de la galería */
    font-size: 40px; }
  [class^="galery_imagen"] {
    grid-column: 2/-2;
    /* este es la reorganización de las grid de las imagenes de la galería */ }
  .contact__img, .contact__texts {
    grid-column: 1/-1;
    /* este es la reorganización de las grid de la imagen y el texto del contacto */ }
  .contact__img {
    text-align: center;
    /* este es la reorganización de la imagen del contacto */ }
  .store__carou {
    width: 300px;
    margin-bottom: 30px;
    left: -9999px;
    /* este es la reorganización del contenedor de las imagenes de la tienda */
    right: -9999px;
    margin: 0 auto;
    position: static; }
  .navbar-toggler {
    margin-left: auto;
    margin-bottom: 5px; }
  .contact__services {
    height: 420px;
    /* este es el estilo de las tarjetas del contacto */
    background: linear-gradient(180deg, #fff 50%, #000 50%); }
  .index__services {
    height: 420px;
    /* este es el estilo de las tarjetas del index */
    background: linear-gradient(180deg, #fff 50%, #000 50%); }
  .d-flex {
    width: 300px; }
  .form-control {
    margin-bottom: 20px; } }
