/* Aqui comienza SASS footer */

footer {
    background-color: black;
    color: white;
    text-align: center;          /* este es el estilo del footer */
    padding: 60px 0;
    .footer {

        &-text {
            grid-column: 1/-2;
            margin-bottom: 50px; /* este es el estilo del texto del footer */
            font-size: 35px;
        }

        &-item a {
            color: white;          /* este es el estilo de las imagenes de las redes del footer */
            font-size: 30px;
        }

        &-item {
            grid-column: span 3;  /* este es el estilo las grid de las images del footer*/
            margin-bottom: 60px;
        }
    }
}