
/* Mediaquery Tablet */

@media (min-width: 576px) and (max-width: 992px) {
    .header{
        height: 400px; /* este es la reorganización del header */
    }
    .tittle-logo-compra {
        margin-right: 315px;
    }
    .logo {
        width: 70px; /* este es la reorganización del logo */
        margin-top: 20px;
    }
    .tittle-logo {
        font-size: 45px; /* este es la reorganización del título de la página */
        padding: 0px 20px;
    }
    .grid {
        gap: 30px; /* este es la reorganización de las grid */
    }
    .index__carou, .index__texts {
        grid-column: 1/-1;  /* este es la reorganización de la imagen y el texto del index */
    }
    .index__carou {
        text-align: center;  /* este es la reorganización del contenedor de las imagenes del index*/
    }
    .index__texts {
        margin-top: 40px;
    }
    .contact__services {
        height: auto; /* este es la reorganización de las tarjetas del contact */
        margin-top: 40px;
    }
    .index__services {
        height: auto; /* este es la reorganización de las tarjetas del index */
        margin-top: 40px;
    }
    .contact__services-item {
        width: 60%;
        margin: 40px 0;
        height: auto;  /* este es la reorganización del contenido dentro de las tarjetas */
        padding: 40px;
    }
    .index__services-item {
        width: 60%;
        margin: 40px 0;
        height: auto;  /* este es la reorganización del contenido dentro de las tarjetas */
        padding: 40px;
    }
    .about_img {
        grid-column: 1/-1;
        grid-row: 2/3;    /* este es la reorganización de la imagen sobre nosotros */
        text-align: center;
    }
    .about_texts {
        grid-column: 1/-1;
        grid-row: 1/2;     /* este es la reorganización del texto sobre nosotros */
        align-self: center;
    }
    .about-us2 {
        padding-top: 40px;
    }
    .store1__shop {
        margin-top: 90px;    /* este es la reorganización del título de la tienda */
    }
    .galery_text {
        margin-top: 90px;
    }
    .store__carou {
        width: 450px;
        margin-bottom: 30px; /* este es la reorganización del contenedor de las imagenes de la tienda */
        left: -9999px;
        right: -9999px;  
        margin: 0 auto;
        position:static;
    }
    .contact__text {
        margin-left: 50px;
    }
    .contact__paragraph {
        margin-left: 50px;        /* este es la reorganización del contacto */
    }

    .contact__mainindex {
        margin-right: auto;
    }

/* aquí comienza la reorganización de las grid de la galería */
    .galery_imagen1 {
        grid-column: 1/2;
    }
    
    .galery_imagen2 {
        grid-column: 2/3;
    }
    
    .galery_imagen3 {
        grid-column: 1/2;
        grid-row: 1/-1;
    }
    
    .galery_imagen4 {
        grid-column: 2/3;
        grid-row: -2/-3;
    }
    
    .galery_imagen5 {
        grid-column: 2/3;
        grid-row: 2/-1;
    }
    
    .galery_imagen6 {
        grid-column: 1/2;
        grid-row: 1/-2;
    }
    
    .galery_imagen7 {
        grid-column: 1/2;;
    }
    
    .galery_imagen8 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    [class^="imagen"] {
        margin-left: 30px; /* este es la reorganización de las imágenes de la galería */
    }
    .contact__img, .contact__texts {
        grid-column: 1/-1; /* este es la reorganización de la imagen y el texto de contacto */
    }
    .img-contact {
        text-align: center;
    }
}

/* Mediaquery Celular */

@media (min-width: 320px) and (max-width: 575px) {
    .logo {
        margin: 0px; /* este es la reorganización del logo */
        width: 50px;
    }
    .tittle-logo {
        margin-left: 0px; /* este es la reorganización del título de la página */
        font-size: 35px;
    }
    .tittle-logo-compra {
        margin-left: 40px;
    }
    .compra {
        margin-top: 100px;
    }
    .img {
        max-width: 170px; /* este es la reorganización de las imágenes */
    }
    .contact__services-item {
        width: 100%;
        margin: 5px 30px; /* este es la reorganización de las tarjetas */
        height: 200px;
        padding: 0px;
    }
    .index__services-item {
        width: 100%;
        margin: 5px 30px; /* este es la reorganización de las tarjetas */
        height: 200px;
        padding: 0px;
    }
    .index__carou, .index__texts {
        grid-column: 1/-1; /* este es la reorganización del texto y la imagen del index */
    }
    .index__carou {
        text-align: center; /* este es la reorganización de la imagen del index */
    }
    .about-us_text {
        margin: 15px; /* este es la reorganización del texto sobre nosotros */
    }
    .store1__shop {
        margin-top: 130px;  /* este es la reorganización del título de la tienda */
        font-size: 40px;
    }
    .about-us2 {
        padding-top: 125px; /* este es la reorganización del título sobre nosotros */
    }
    .about-us2_subtitle2 {
        font-size: 40px;
    }
    .contact__mainindex {
        width: 300px; /* este es la reorganización del formulario */
    }
    iframe {
        width: 300px; /* este es la reorganización del Google Maps */
    }
    .galery_text {
        margin-top: 120px; /* este es la reorganización del texto de la galería */
        font-size: 40px;
    }
    [class^="galery_imagen"] {
        grid-column: 2/-2; /* este es la reorganización de las grid de las imagenes de la galería */
    }
    .contact__img, .contact__texts {
        grid-column: 1/-1; /* este es la reorganización de las grid de la imagen y el texto del contacto */
    }
    .contact__img {
        text-align: center; /* este es la reorganización de la imagen del contacto */
    }
    .store__carou {
        width: 300px;
        margin-bottom: 30px;
        left: -9999px;         /* este es la reorganización del contenedor de las imagenes de la tienda */
        right: -9999px;  
        margin: 0 auto;
        position:static;
    }
    .navbar-toggler {
        margin-left: auto;
        margin-bottom: 5px;
    }
    .contact__services {
        height: 420px;  /* este es el estilo de las tarjetas del contacto */
        background: linear-gradient(180deg, #fff 50%, #000 50%);
    }
    .index__services {
        height: 420px;  /* este es el estilo de las tarjetas del index */
        background: linear-gradient(180deg, #fff 50%, #000 50%);
    }
    .d-flex {
        width: 300px;
    }
    .form-control {
        margin-bottom: 20px;
    }
}