@import "footer";
@import "header";
@import "variables";
@import "pages/sobrenos";
@import "pages/tienda";
@import "pages/galeria";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif; /* aquí está el estilo del body */
}

.index-carou {
    width: 100%; /* este es el estilo del carrusel del index */
    height: auto;
    grid-column: 7/12;
    margin-bottom: 100px;
}

.w-100 {
    border-radius: 20px;  /* este es el estilo del carrusel de las imagenes */
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;                        /* aquí están los estilos de las grid en general */
    height: 100%;
    margin: auto;
    grid-row-gap: 10px;
    overflow: hidden;
    align-items: center;
}

/* aqui comienza la duración de las animaciones */

.animate__animated.animate__fadeIn {
    --animate-duration: 4s;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 4s;
}

.animate__animated.animate__fadeInUp {
    --animate-duration: 4s;
}

.animate__animated.animate__zoomInUp {
    --animate-duration: 2s;
}

.animate__animated.animate__rotateIn {
    --animate-duration: 2s;
}

/* aqui termina la duración de las animaciones */

.tittle-logo-compra {
    margin-right: 780px;
}

.subtile-contact {
    font-weight: 400;
    margin-left: 5px;
}

.paragraph {
    margin-bottom: 20px;  /* este es el estilo de los párrafos */
}

.img {
    width: 95%;
    max-width: 500px;
}

.text-index {
    font-weight: 600;
}                           /* este es el estilo del texto de index */

.subtitle-index {
    font-weight: 400; 
}

.texts-index {
    grid-column: 1/7;
    padding-right: 20px;     /* este es el estilo de los textos del index */
    padding-bottom: 150px;
}

.texts-contact p {
    text-align: justify;
}

.text-contact {
    font-weight: 600px;  /* este es el estilo del título de contacto */
}


.cta {
    width: 130px;
    background-color: $color-secundario;  
    color: $color-principal;
    display: inline-block;      /* este es el estilo del botón del index */
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 25px;
    margin-bottom: 100px;
}

.tittle-services {
    margin: 20px 0; /* este es el estilo de las tarjetas */
}

.services {
    height: 370px;  /* este es el estilo de las tarjetas */
    background: linear-gradient(180deg, $color-principal 50%, $color-secundario 50%);
}

.store1 {
    margin-top: 100px;

    &__shops {
        margin-bottom: 20px;
    }

    &__shop {
        text-align: center;
        font-size: 50px;        /* este es el estilo del título de la tienda */
        font-weight: 500;
    }
}

.store__art {
    display: flex;
    flex-wrap: wrap; /* <!-- Aqui se encuentra el estilo del contenedo de la imagen --> */
    justify-content: center;
    margin-bottom: 30px;
}

.mainindex__contact {
    width: 500px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;       /* este es el estilo del formulario */
    background-color: #006eff05;
    margin-bottom: 150px;
    margin-right: 5px;
}

.img-contact {
    margin-bottom: 150px; /* este es el estilo del mapa de google maps */
    margin-left: 5px;
}

.btn-contact {
    width: 250px;         /* este es el estilo del botón del formulario de contacto */
    margin-top: 20px;
}

.card {
    width: 250px;
    border: none;
    padding: 5px;
    margin-bottom: 80px;
}

.btn-compra2 {
    grid-column: 6/7;
    width: 250px;
    height: 100px;            /* este es el estílo del botón de la página de compra*/
    font-weight: 700;
    font-size: 25px;
    background-color: $color-secundario;
}

.btn-compra2:hover {
    background-color: $color-principal;     /* este es el estílo del hover del botón de la página de compra*/
    border: solid 3px $color-secundario;
}

.href-btn {
    text-decoration: none;        /* este es el estílo del link del botón de la página de compra*/
    color: $color-principal;
}

.href-btn:hover {
    color: $color-secundario;
}


@import "mediaqueries";