/* Este es el SASS de contacto */

.contact1{
    text-align: center;

    &_texts{
        margin-top: 85px;
    }

    &_text {
        font-size: 50px;
    }
}

.contact {

    &__subtitle {
        font-weight: 400;
        margin-left: 5px;
    }

    &__paragraph {
        @extend .paragraph;  /* este es el estilo de los párrafos */
    }

    &__texts p {
        text-align: justify;
    }

    &__text {
        font-weight: 600px;  /* este es el estilo del título de contacto */
    }

    &__mainindex {
        width: 500px;
        margin: auto;
        padding: 10px 20px;
        box-sizing: border-box;       /* este es el estilo del formulario */
        background-color: #006eff05;
        margin-bottom: 150px;
        margin-right: 5px;
    }

    &__img {
        margin-bottom: 150px; /* este es el estilo del mapa de google maps */
        margin-left: 5px;
    }

    &__btn {
        width: 250px;         /* este es el estilo del botón del formulario de contacto */
        margin-top: 20px;

        &:hover {
            color: $color-principal;
        }
    }

    &__services {
        height: 370px;  /* este es el estilo de las tarjetas */
        background: linear-gradient(180deg, $color-principal 50%, $color-secundario 50%);
    }

    &__tittle-services {
        margin: 20px 0; /* este es el estilo de las tarjetas */
    }

    &__services-items {
        @extend .tarjetas1;                /* este es el extend del estilo de los iconos de las tarjetas */
    }

    &__services-item {
        @extend .tarjetas2;            /* este es el extend del estilo de las tarjetas */
    }

    &__fa-solid {
        font-size: 50px;                  /* este es el estilo de los íconos de las tarjetas */
        text-align: center;
    }
}